* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-family: 'Arial', sans-serif;
}

header {
	background-color: #282877;
	padding-top: 20px;
	height: 100px;
}

header.active {
	background-color: #469bb5;
}

.title {
	font-size: 20px;
	text-align: center;
	color: white;
}

.search {
	text-align: right;
	position: absolute;
	right: 5px;
	top: 20px;
	padding: 5px 20px;
}

.news-item {
	padding: 10px;
	border-bottom: 1px solid black;
}

.news-item h3 {
	font-size: 18px;
	color: darkblue;
}
